html {
    scroll-behavior: smooth;
}

main {
    padding: 2rem;
}

body {
    background-color:#2C2F33;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    color: #D3D3D3;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #1D1E22;
}

header a {
    text-decoration: none;
    color: #87CEFA;
}

.header-link {
    text-decoration: none;
    color: #87CEFA;
}

.header-link:hover {
    color: #FFD700;
}

.logo {
    max-width: 120px;
    height: auto;
    display: block;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.me {
    width: 500px;
    height: auto;
    border-radius: 100%;
    margin: 1rem auto;
}

.project img {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
    display: inline-block;
}


.navigation ul {
    list-style: none;
    gap: 1.5rem;
    display: flex;

}

.section-about {
    text-align:center;
    margin-bottom: 3rem;
    color: #AFCBFF;
}

.section-about h1 {
    font-size: 2.5rem;
    color: #AFCBFF;
}

.section-about p {
    max-width: 600px;
    margin: 1rem auto;
    font-size: 1.2rem;
    color: #D3D3D3;
}

.my-projects {
    margin: 3rem 0;
}

.my-projects h2 {
    text-align: center;
    margin-bottom: 2rem;
    color:#AFCBFF;
}

.all-projects {
    display: grid;
    gap: 1.5rem;
    text-align: center;
}

#contact-me h2{
    color: #AFCBFF;
}

#contact-me {
    text-align: center;
    color: #D3D3D3;
    padding: 2rem 0;
}

#contact-me a {
    display: inline-block;
    margin-top: 1rem;
    text-decoration: none;
    color: #FFD700;
    font-size: 1.2rem;
}

footer {
    text-align:center;
    color: #D3D3D3;
    padding: 1rem;
    font-size: 1rem;
    background-color:#1D1E22;
}


@media (max-width: 768px) {
    .all-projects {
        gap: 1rem;
    }

    .section-about h1 {
        font-size: 2rem;
    }

    .section-about p {
        font-size: 1rem;
    }

    .header-link {
        font-size: 1rem;
    }
}
